.rodapeSistema {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.rodapeSistemaTexto {
    font-size: 14px;
    color: #424242;
}

.rodapeSistemaLogo {
    width: 48px;
    margin: 16px 48px 16px 16px;
}